doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
        meta(name='viewport' content='width=device-width')
        title Tricks
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
        link(rel="stylesheet" href="css/main.css")
    body
        section.section(style='background-color: #8e44ad;')
        section.section(style='background-color: #27ae60;')
            .section__elem.animate(data-animate="toTop") Заанимируй меня!
        section.section(style='background-color: #c43b2d;')
            .section__elem.animate(data-animate="width") Увеличивается ширина
        section.section(style='background-color: #34495e;')
            .section__elem.animate(data-animate="toRight") Я второй элемент
        section.section(style='background-color: #f39c12;')

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="js/main.js")